{% extends 'layout.html' %}
    {% block body %}
        <h1>About Us</h1>
        <h3>A good story can start anywhere, including with anonymous tips, but if you want to provide a meaningful tip for journalists, you should share specific information and not general speculation. At Ali-Company, we cover governments and power around the globe, as well as business and economics. If you have specific information you’d like to share with Ali-Company News but don’t want to reveal your identity to us, you can follow the methods below.</h3>
        <ul>
            <li>We have been very fortunate to be successful in Life and Business, and I believe that it is right that people who have this type of wealth should give something back into society.</li>
        </ul>
    {% endblock %}
    